footer {
        background-color: $brandGrey;
        margin-top: 50px;
        nav {
                &.footer-nav {
                        text-align: center;
                        ul {
                                display: block;
                                margin: 0;
                                padding: 0;
                                list-style-type: none;
                                li {
                                        display: inline-block;
                                        margin: 0;
                                        padding: 0;
                                        list-style-type: none;
                                        vertical-align: bottom;
                                        a {
                                                display: block;
                                                padding: 15px 20px;
                                                margin: 0;
                                                color: #ffffff;
                                                position: relative;
                                                overflow: hidden;
                                                z-index: 1;
                                                transition: .25s cubic-bezier(.55,0,.1,1);
                                                &:before {
                                                        width: 100%;
                                                        height: 100%;
                                                        position: absolute;
                                                        left: 0;
                                                        top: 0;
                                                        content: '';
                                                        background-color: $brandGreen;
                                                        z-index: -1;
                                                        transform: translateY(-100%);
                                                        transition: .25s cubic-bezier(.55,0,.1,1);
                                                }
                                                &:hover {
                                                        color: $brandGrey;
                                                        &:before {
                                                                transform: translateY(0);
                                                        }
                                                }
                                                @media all and (max-width: 960px){
                                                        padding: 15px 10px;
                                                }
                                        }
                                        &.current-menu-item {
                                                a {
                                                        color: $brandGrey;
                                                        &:before {
                                                                transform: translateY(0);
                                                        }
                                                }
                                        }
                                }
                                @media all and (max-width: 768px){
                                        li {
                                                display: block;
                                                a {
                                                        padding: 10px;
                                                }
                                                &:first-of-type {
                                                        padding: 20px 0 10px 0;
                                                }
                                                &:last-of-type {
                                                        padding: 10px 0 20px 0;
                                                }
                                        }
                                }
                        }
                }
        }
}
