header {
        width: 100%;
        background: #ffffff;
        position: relative;
        padding: 15px 0;
        a {
                img {
                        max-width: 80px;
                        margin: 0 0 0 20px;
                        @media all and (max-width: 768px){
                                margin: 0;
                        }
                }
        }
        nav {
                float: right;
                ul {
                        display: block;
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li {
                                float: left;
                                display: inline-block;
                                margin: 0 15px 0 0;
                                padding: 0;
                                list-style-type: none;
                                &:last-of-type {
                                        margin: 0;
                                }
                                a {
                                        display: block;
                                        padding: 4px 30px;
                                        margin: 0;
                                        position: relative;
                                        z-index: 1;
                                        transition: .25s cubic-bezier(.55,0,.1,1);
                                        border: 3px solid $brandGreen;
                                        border-radius: 10px;
                                        color: $brandGreen;
                                        &.login {
                                                background-color: $brandGreen;
                                                color: $brandGrey;
                                                box-shadow: 0px 4px $brandDarkGreen;
                                        }
                                        @media all and (max-width: 768px){
                                                padding: 4px 15px;
                                        }
                                }
                        }
                }
        }
}

nav {
        &.header-nav {
                position: relative;
                background-color: $brandGrey;
                ul {
                        display: block;
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li {
                                float: left;
                                display: inline-block;
                                margin: 0;
                                padding: 0;
                                list-style-type: none;
                                position: relative;
                                a {
                                        display: block;
                                        padding: 15px 20px;
                                        margin: 0;
                                        color: #ffffff;
                                        position: relative;
                                        overflow: hidden;
                                        z-index: 1;
                                        transition: .25s cubic-bezier(.55,0,.1,1);
                                        &:before {
                                                width: 100%;
                                                height: 100%;
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                content: '';
                                                background-color: $brandGreen;
                                                z-index: -1;
                                                transform: translateY(-100%);
                                                transition: .25s cubic-bezier(.55,0,.1,1);
                                        }
                                        &:hover {
                                                color: $brandGrey;
                                                &:before {
                                                        transform: translateY(0);
                                                }
                                        }
                                        @media all and (max-width: 960px){
                                                padding: 15px 10px;
                                        }
                                }
                                ul {
                                        display: none;
                                        position: absolute;
                                        left: 0;
                                        z-index: 999;
                                        li {
                                                display: block;
                                                a {
                                                        display: block;
                                                        padding: 5px 10px;
                                                        margin: 0;
                                                        color: #ffffff;
                                                        position: relative;
                                                        overflow: hidden;
                                                        z-index: 1;
                                                        transition: .25s cubic-bezier(.55,0,.1,1);
                                                        width: 100px;
                                                        font-size: 14px;
                                                        &:before {
                                                                width: 100%;
                                                                height: 100%;
                                                                position: absolute;
                                                                left: 0;
                                                                top: 0;
                                                                content: '';
                                                                background-color: $brandGreen;
                                                                z-index: -1;
                                                                transform: translateY(-100%);
                                                                transition: .25s cubic-bezier(.55,0,.1,1);
                                                        }
                                                        &:hover {
                                                                color: $brandGrey;
                                                                &:before {
                                                                        transform: translateY(0);
                                                                }
                                                        }
                                                }
                                        }
                                }
                                &.current-menu-item {
                                        a {
                                                color: $brandGrey;
                                                &:before {
                                                        transform: translateY(0);
                                                }
                                        }
                                }
                                &:hover {
                                        ul {
                                                display: block;
                                        }
                                }
                        }
                        @media all and (max-width: 768px){
                                display: none;
                        }
                }
                div.hamb {
                        display: none;
                        position: absolute;
                        right: 34px;
                        top: 19px;
                        transition: .15s;
                        cursor: pointer;
                        &:after {
                                content: '';
                                position: absolute;
                                left: -10px;
                                top: -12px;
                                height: 40px;
                                width: 50px;
                        }
                        div.line {
                                width: 30px;
                                height: 2px;
                                background: #ffffff;
                                transition: .15s;
                                position: relative;
                                &:nth-of-type(2){
                                        margin: 5px 0;
                                }
                        }
                        &.open {
                                transform: rotate(180deg);
                                div.line {
                                        &:nth-of-type(1) {
                                                transform: rotate(45deg);
                                                top: 7px;
                                        }
                                        &:nth-of-type(2) {
                                                opacity: 0;
                                        }
                                        &:nth-of-type(3) {
                                                transform: rotate(-45deg);
                                                top: -7px;
                                        }
                                }
                        }
                        @media all and (max-width: 768px){
                                display: block;
                        }
                }
                @media all and (max-width: 768px){
                        height: 54px;
                }
        }
}
