.module-contact-section {
        .half {
                float: left;
                width: 48%;
                margin-right: 4%;
                a {
                        color: $brandDarkGreen;
                        text-decoration: underline;
                }
                &:last-of-type {
                        margin-right: 0;
                }
                &.contact-form-half {
                        background-color: #efefef;
                        padding: 20px 30px 0 30px;
                        h3 {
                                margin: 0 0 15px 0;
                        }
                        input, textarea {
                                outline: none;
                                border: 0;
                                margin: 0 0 0 5%;
                                width: 90%;
                                font-size: 14px;
                                padding: 10px 15px;
                                display: block;
                                &[type="submit"]{
                                        display: block;
                                        padding: 10px 30px;
                                        margin: 0;
                                        position: relative;
                                        z-index: 1;
                                        transition: .25s cubic-bezier(.55,0,.1,1);
                                        border: 3px solid $brandGreen;
                                        border-radius: 10px;
                                        background-color: $brandGreen;
                                        color: $brandGrey;
                                        box-shadow: 0px 4px $brandDarkGreen;
                                        width: 50%;
                                        margin: 0 0 0 auto;
                                }
                        }
                }
                @media all and (max-width: 768px){
                        float: none;
                        width: 100%;
                        margin-right: 0;
                        &.contact-form-half {
                                padding: 20px;
                                margin-top: 30px;
                        }
                }
        }
}
