.module-faq-section {
        margin: 0 0 40px 0;
        &:last-of-type {
                margin: 0;
        }
        h3 {
                margin: 0 0 15px 0;
        }
        div.faq-row {
                background-color: #f9f9f9;
                h4.faq-header {
                        background-color: $brandGreen;
                        color: #ffffff;
                        margin: 0;
                        padding: 12px 30px;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: normal;
                        position: relative;
                        &:after {
                                content: '';
                                background-image: url(../img/down-arrow.png);
                                width: 25px;
                                height: 15px;
                                display: block;
                                background-size: cover;
                                position: absolute;
                                right: 30px;
                                top: 15px;
                                transition: .25s cubic-bezier(.55,0,.1,1);
                        }
                        &.active-faq-row {
                                &:after {
                                        transform: rotate(180deg);
                                }
                        }
                }
                div.faq-content {
                        display: none;
                        padding: 12px 30px 10px 30px;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        &:before {
                                position: absolute;
                                content: '';
                                width: 96%;
                                height: 0;
                                background: transparent;
                                left: 2%;
                                top: -10px;
                                box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.5);
                                z-index: -1;
                        }
                }
                &:nth-of-type(even){
                        h4.faq-header {
                                background-color: $brandDarkGreen;
                        }
                }
        }
}
