.module-page-title {
        margin-bottom: 50px;
        padding: 50px 0;
        border-bottom: 6px solid $brandGreen;
        background-size: cover;
        background-position: 50% left;
        background-repeat: no-repeat;
        h1 {
                margin: 0;
                color: #ffffff;
                font-size: 36px;
        }
}
