.module-page-cta {
        margin-top: 50px;
        .page-cta-header {
                background-size: cover;
                background-position: 50% left;
                padding: 20px;
                img {
                        max-width: 100px;
                }
        }
        .page-cta-content {
                background-color: $lighest-grey;
                .page-cta-half {
                        padding: 20px 30px;
                        width: 50%;
                        float: left;
                        h1, h2, h3, h4, h5, h6, p {
                                margin: 0 0 15px 0;
                                font-size: 1.3em;
                                &:last-of-type {
                                        margin: 0;
                                }
                        }
                        a {
                                display: block;
                                padding: 8px 30px;
                                margin: 0;
                                position: relative;
                                z-index: 1;
                                transition: .25s cubic-bezier(.55,0,.1,1);
                                border: 3px solid $brandGreen;
                                border-radius: 10px;
                                color: $brandGreen;
                                float: left;
                                width: 48%;
                                margin-right: 4%;
                                text-align: center;
                                font-size: 14px;
                                &:last-of-type {
                                        margin-right: 0;
                                }
                                &.signup {
                                        background-color: $brandGreen;
                                        color: $brandGrey;
                                        box-shadow: 0px 4px $brandDarkGreen;
                                }
                                @media all and (max-width: 768px){
                                        padding: 4px 15px;
                                }
                        }
                        @media all and (max-width: 768px){
                                float: none;
                                width: 100%;
                                &:last-of-type {
                                        padding: 0 30px 20px 30px;
                                }
                        }
                }
        }
}
