.module-page-content {
        ul {
                margin-top: -10px;
                list-style-type: none;
                li {
                        position: relative;
                        list-style-type: none;
                        padding-left: 30px;
                        padding-bottom: 0;
                        &:before {
                                content: '';
                                background-image: url('../img/tick-list.png');
                                background-size: cover;
                                background-position: 50% 50%;
                                height: 15px;
                                width: 14px;
                                position: absolute;
                                left: 0;
                                top: 5px;
                        }
                }
        }
        table {
                border: 0;
                tr {
                        border: 0;
                        &:nth-of-type(even) {
                                background-color: #f6f6f6;
                        }
                        &:nth-of-type(odd) {
                                background-color: #e2e2e2;
                        }
                        td {
                                border: 0;
                                padding: 18px 0;
                                font-size: 14px;
                                &:first-of-type {
                                        border-right: 1px solid #d5d5d5;
                                }
                        }
                        &:first-of-type {
                                background-color: #d5d5d5 !important;
                                h1,h2,h3,h4,h5,h6, p {
                                        color: #000000;
                                        font-size: 20px;
                                        @media all and (max-width: 768px){
                                                font-size: 18px;
                                                padding: 0 45px;
                                        }
                                }
                                td {
                                        border: 0;
                                        border-right: 0;
                                        padding: 0;
                                }
                        }
                }
                border-bottom: 4px solid $brandGreen;
        }
        a {
                display: block;
                text-align: center;
                max-width: 300px;
                padding: 10px 30px;
                left: 0;
                right: 0;
                margin: auto;
                position: relative;
                z-index: 1;
                transition: .25s cubic-bezier(.55,0,.1,1);
                border: 3px solid $brandGreen;
                border-radius: 10px;
                background-color: $brandGreen;
                color: $brandGrey;
                box-shadow: 0px 4px $brandDarkGreen;
        }
}
