.module-slider {
        .slick-slide {
                position: relative;
        }
        div.slide-container {
                background-size: cover;
                background-position: 50% left;
                border-bottom: 5px solid $brandGreen;
                padding: 50px 0;
                margin-bottom: 50px;
                div.single-slide-content {
                        max-width: 500px;
                        h1, h2, h3, h4, h5, h6, p {
                                color: #ffffff;
                                margin: 0 0 15px 0;
                        }
                        a {
                                display: inline-block;
                                padding: 4px 30px;
                                margin: 10px 0 0 0;
                                position: relative;
                                z-index: 1;
                                transition: .25s cubic-bezier(.55,0,.1,1);
                                border: 3px solid $brandGreen;
                                border-radius: 10px;
                                background-color: $brandGreen;
                                color: $brandGrey;
                                box-shadow: 0px 4px $brandDarkGreen;
                                font-size: 18px;
                                @media all and (max-width: 768px){
                                        padding: 4px 15px;
                                }
                        }
                }
        }
}
