.module-testimonial-repeater {
        div.testimonial-intro {
                margin: 0 0 40px 0;
        }
        div.testimonial-row {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $light-grey;
                @media all and (max-width: 768px){
                        padding-bottom: 10px;
                }
                &:last-of-type {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 0;
                }
                div.testimonial-image {
                        width: 35%;
                        height: 175px;
                        background-size: cover;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        float: left;
                }
                div.testimonial-content {
                        width: 65%;
                        float: left;
                        padding: 0 50px;
                        h1, h2, h3, h4, h5, h6, p {
                                padding: 0 0 15px 0;
                                margin: 0;
                        }
                        a {
                                color: $brandDarkGreen;
                                text-decoration: underline;
                        }
                }
                @media all and (max-width: 768px){
                        div.testimonial-image {
                                width: 100%;
                                float: none;
                        }
                        div.testimonial-content {
                                width: 100%;
                                float: none;
                                padding: 0;
                                margin-top: 15px;
                        }
                }
        }
}
