.module-why-affiliate {
        .why-repeater-container {
                display: block;
                .why-repeater-block {
                        float: left;
                        width: 50%;
                        @media all and (max-width: 768px){
                                width: 100%;
                        }
                        img {
                                display: inline-block;
                                max-width: 70px;
                                vertical-align: middle;
                                margin-right: 10px;
                                @media all and (max-width: 560px){
                                        display: block;
                                        margin-right: 0;
                                        max-width: 50px;
                                        margin-bottom: 10px;
                                }
                        }
                        div.why-affiliate-text {
                                display: inline-block;
                                width: calc(100% - 90px);
                                vertical-align: middle;
                                @media all and (max-width: 560px){
                                        display: block;
                                        width: 100%;
                                }
                        }
                }
        }
}
